{#
/**
 * @file drulenium_entity.html.twig
 * Default theme implementation to present Drulenium entity data.
 *
 * This template is used when viewing Drulenium entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_drulenium_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('drulenium_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
